.line {
    line-height: 80px;
}

.span {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}

.border{
    border: 1px solid black;
}


/* color picker color : #F9F9FF */

/* figma color - #d4c5fc */

